/* CSS Document */
#abc{
	width:300px;
}

#name1{
	width:50px;
	font-size:14px;
	font-style:italic;

}

input{
	width: 150px;
    float: inherit;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    height: 33px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 0px 0px 0px 7px;
    margin: 10px;
    transition-property: color, background;
    transition-duration: 0.7s, 0.7s;
    transition-timing-function: linear, ease-in;
}
.header{
	margin:18px 0px 0px 27px;

}

body {
    height: 640px;
    width: 360px;
}

.gridOne{
margin:64px 0px 23px 77px;

}
.gridOne img{
	height:70px;
	width:70px;

}


.gridTwo{
margin:23px 0px 23px 77px;

}
.gridTwo img{
	height:70px;
	width:70px;

}



.gridThree{
margin:23px 0px 23px 77px;

}
.gridThree img{
	height:70px;
	width:70px;

}



.gridFour{
margin:23px 0px 23px 77px;

}
.gridFour img{
	height:70px;
	width:70px;

}

.footer{
margin:100px 0px 0px 20px;
}